<app-nav></app-nav>
<div class="container">
    <div class="row">
        <div class="col-sm-12">
            <div class="header-title-container">
                <div class="header-title">
                    <div class="title">
                        <h1>Settings</h1>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<form [formGroup]="userPreferencesForm" (ngSubmit)="savePreferences()">

    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <h3>Units</h3>
            </div>
        </div>
    </div>

    <div class="container mb-5">

        <div class="row" *ngIf="userPreferences && fuelUnits?.length > 0">
            <div class="col-12">
                <div class="form-group">
                    <label for="vin">Fuel Units <i class="fas fa-exclamation-triangle"></i></label>
                    <select class="form-control" [(ngModel)]="userPreferences.fuelUnit.id" [formControl]="userPreferencesForm.controls['fuelUnit']">
                        <option *ngFor="let fuelUnit of fuelUnits"[value]="fuelUnit.id">{{fuelUnit.unitName}} ({{fuelUnit.unit}})</option>
                    </select>
                </div>
            </div>
        </div>

        <div class="row" *ngIf="userPreferences && fuelConsumptionUnits?.length > 0">
            <div class="col-12">
                <div class="form-group">
                    <label for="vin">Consumption Units</label>
                    <select class="form-control" [(ngModel)]="userPreferences.fuelConsumptionUnit.id" [formControl]="userPreferencesForm.controls['fuelConsumptionUnit']">
                        <option *ngFor="let fuelConsumptionUnit of fuelConsumptionUnits" [value]="fuelConsumptionUnit.id">{{fuelConsumptionUnit.unitName}} ({{fuelConsumptionUnit.unit}})</option>
                    </select>
                </div>
            </div>
        </div>

        <div class="row" *ngIf="userPreferences && distanceUnits?.length > 0">
            <div class="col-12">
                <div class="form-group">
                    <label for="vin">Distance Units <i class="fas fa-exclamation-triangle"></i></label>
                    <select class="form-control" [(ngModel)]="userPreferences.distanceUnit.id" [formControl]="userPreferencesForm.controls['distanceUnit']">
                        <option *ngFor="let distanceUnit of distanceUnits"[value]="distanceUnit.id">{{distanceUnit.unitName}} ({{distanceUnit.unit}})</option>
                    </select>
                </div>
            </div>
        </div>

        <div class="row" *ngIf="userPreferences && currencyUnits?.length > 0">
            <div class="col-12">
                <div class="form-group">
                    <label for="vin">Currency</label>
                    <select class="form-control" [(ngModel)]="userPreferences.currencyUnit.id" [formControl]="userPreferencesForm.controls['currencyUnit']">
                        <option *ngFor="let currencyUnit of currencyUnits" [value]="currencyUnit.id">{{currencyUnit.unitName}} ({{currencyUnit.unit}})</option>
                    </select>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-12">
                <i class="fas fa-exclamation-triangle"></i> Updating these values will <em>not</em> recalculate previously supplied fill-up data.
            </div>
        </div>

        <div class="row">
            <div class="col-12 clearfix p-3 text-right">
                <button type="submit" class="btn btn-primary" [disabled]="!userPreferencesForm.valid">Save</button>
            </div>
        </div>
    </div>
</form>

<div class="container">
    <div class="row mb-5">
        <div class="col-sm-12">
            <h3>Your Data</h3>
        </div>
        <div class="col-sm-12">
            Manage your data by either clearing your previous logs and vehicles, or deleting your entire user altogether.
        </div> 
    </div>
</div>

<div class="container">

    <div class="row mb-5">
        <div class="col-12">
            <h5>Clear all data</h5>
            <p>
                Clearing all data for this user will remove all vehicles, fuel logs and any other loggable data. You will <em>not</em> be able to recover this data. This does not reset any unit preferences.
            </p>
        </div>
        <div class="col-12">
            <button type="button" class="btn btn-info" title="Clears all user data but keeps the user intact" data-toggle="modal" data-target="#adminClearModal"><i class="fas fa-sync-alt"></i>&nbsp;Clear Data</button>
        </div>
    </div>

    <div class="row mb-5">
        <div class="col-12">
            <h5>Delete user</h5>
            <p>
                Danger zone: Deleting this user will purge all data relating to this user from Clarkson. If you delete yourself, you will <em>not</em> be able to recover the data.
            </p>
        </div>
        <div class="col-12">
            <button type="button" class="btn btn-danger" title="Removes this user and all of its data" data-toggle="modal" data-target="#adminDeleteModal"><i class="fas fa-trash"></i>&nbsp;Delete</button>
        </div>
    </div>
</div>

<app-admin-delete [user]="user" (deleteSuccess)="removeUser($event)"></app-admin-delete>
<app-admin-clear [user]="user" (clearSuccess)="clearUser($event)"></app-admin-clear>
