<app-nav></app-nav>
<div class="container">
    <div class="row">
        <div class="col-sm-12">
            <div class="header-title-container">
                <div class="header-title">
                    <div class="title">
                        <h1>Dashboard</h1>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container" *ngIf="dashboardTopStats?.length == 0">
    <div class="col-12 text-center">
        No stats to report! Start filling up to see details on your mileage!
    </div>
</div>

<div class="container" *ngIf="userPreferences && dashboardTopStats?.length &gt; 0">
    <div class="row">

        <div class="col-lg-3">
            <div class="card text-white bg-dark mb-3">
                <div class="card-header">Number of vehicles</div>
                <div class="card-body">
                    <h4 class="card-title">{{totalVehicles}}</h4>
                </div>
            </div>
        </div>

        <div class="col-lg-3">
            <div class="card text-white bg-dark mb-3">
                <div class="card-header">Distance</div>
                <div class="card-body">
                    <h4 class="card-title">{{totalDistance}} {{userPreferences.distanceUnit.unit}}</h4>
                </div>
            </div>
        </div>

        <div class="col-lg-3">
            <div class="card text-white bg-dark mb-3">
                <div class="card-header">Fill-ups</div>
                <div class="card-body">
                    <h4 class="card-title">{{totalFillUps}}</h4>
                </div>
            </div>
        </div>

        <div class="col-lg-3">
            <div class="card text-white bg-dark mb-3">
                <div class="card-header">Total Spent</div>
                <div class="card-body">
                    <h4 class="card-title"><span [innerHTML]="userPreferences.currencyUnit.symbol"></span>{{totalSpent | number:'1.2-2'}}</h4>
                </div>
            </div>
        </div>
    </div>

    <div class="row mt-5">
        <div class="col-12">
            <h3>Fuel Consumption</h3>
        </div>
    </div>

    <div class="row mt-2" *ngFor="let vehicle of vehicles">
        <div class="col-12">
            <app-consumption-chart [vehicle]="vehicle" [userPreferences]="userPreferences"></app-consumption-chart>
        </div>
    </div>

    <div class="row mt-5">
        <div class="col-12">
            <h3>Monthly Costs</h3>
        </div>
    </div>

    <div class="row mt-2">
        <div class="col-12">
            <app-monthly-fuel-costs-chart [userPreferences]="userPreferences"></app-monthly-fuel-costs-chart>
        </div>
    </div>
</div>
