<div class="container">
    <div class="row">
        <div class="col-sm-12">
            <div class="header-title-container">
                <div class="header-title">
                    <div class="title">
                        <h1>Four Oh Four</h1>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-12 text-center">
            The page you were looking for doesn't exist.
        </div>
        <div class="col-12 text-center mt-4">
            <a [routerLink]="['/dashboard']" class="btn btn-primary">Back to the Dashboard</a>
        </div>
    </div>
</div>
